<div class="container py-3">
    <h4 class="mb-4 text-center">Haberler Sayfası</h4>


    <!-- Button trigger modal -->
    <div class="row">
        <div class="col-3">
            <button class="btn btn-outline-danger mb-3 float-end w-100" (click)="Ekle(modalEkleDuzenle)">Kayıt Ekle</button>
            <select class="form-control mb-3" [(ngModel)]="categoryId" (ngModelChange)="CategorySec($event)">
                <option [value]="" selected>Tüm Kategoriler</option>
                <option [value]="kat.id" *ngFor="let kat of kategoriler">{{kat.kategoriadi}}</option>
            </select>
        </div>
        <div class="col-9">
            <table class="table table-bordered border-primary table-striped text-center">
                <thead class="bg-primary text-white">
                    <tr>
                        <th>Haber Adı</th>
                        <th>Eklenme Tarihi</th>
                        <th>Düzenlenme Tarihi</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let haber of haberler">
                        <td>{{haber.haberadi}}</td>
                        <td>{{haber.kayittarihi | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                        <td>{{haber.duzenlenmetarihi | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                        <td style="width: 300px;">
                            <div class="row g-1">
                                <div class="col-6">
                                    <button class="btn btn-outline-danger btn-sm w-100" (click)="Sil(haber,modalSil)">Sil</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-outline-secondary btn-sm w-100"
                                        (click)="Duzenle(haber, modalEkleDuzenle)">Düzenle</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    



</div>





<div class="modal" tabindex="-1" #modalEkleDuzenle>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header text-white">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="frm" (ngSubmit)="haberEkleDuzenle()">
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" formControlName="haberadi">
                        <label for="floatingInput">Haber Adı</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="99" formControlName="resim">
                        <label for="floatingInput99">resim</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput4" formControlName="detail">
                        <label for="floatingInput4">Ilan Detay</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select name="" id="floatingInput2" class="form-control" formControlName="categoryId">
                            <option [value]="kat.id" *ngFor="let kat of kategoriler">{{kat.kategoriadi}}</option>
                        </select>
                        <label for="floatingInput2">Haber Kategori</label>
                    </div>
                    <input type="hidden" class="form-control" formControlName="id">
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Kaydet">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" #modalSil>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">{{modalBaslik}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>adlı Haber Silinecektir Onaylıyor musunuz?</h6>
            </div>
            <div class="modal-footer">

                <button class="btn btn-outline-danger" *ngIf="secHaber" (click)="HaberSil()">Sil</button>
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>