<div class="overlay-white"></div>
<form class="login-box">
    <div class="mb-3 row">
        <div class="col-4">
            <label for="text" class="form-label">Mail Adresi</label>
        </div>
        <div class="col-8">
            <input type="text" required #email class="form-control w-100">
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-4">
            <label for="password" class="form-label">Şifre</label>
        </div>
        <div class="col-8">
            <input type="password" required #password class="form-control">
        </div>
    </div>
    <div class="row g-2">
        <div class="col-6">
            <button type="submit" class="btn btn-primary btn-sm w-100"
                (click)="KullaniciGiris(email.value, password.value)">Giriş
                Yap</button>
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-secondary w-100 btn-sm"
                (click)="kullaniciKayit(email.value, password.value)">Kayıt Ol</button>
        </div>
    </div>


</form>

<!-- #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" -->